.main_wrapper{
    justify-content: center;
}
.section_main1{
    display: flex;
    position: relative;
    height:873px;
    gap: 60px;
    margin-left: 50px;
    margin-top: 40px;
    margin-right:50px ;
    max-width: 100%;
}
.section__main3__infoandImg{
    justify-content: center;
    gap: 60px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 100px;
    clear: none;
}
.footer__main__content{
    
  display:flex ;
  justify-content: space-around;
    
}
.section__form{
    display: flex;
    padding-bottom: 100px;
}
.section__cards{
    display: flex;
}
